body {
    height: 70vh;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 100px;
    padding: 30px;
}
main {
    color: black;
    text-align: center;

}
main p{
    font-size: 36px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home-icon{
    width: 100%;
    padding: 78px 0px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.home-icon img{
    height: auto;
    width: 420px;
}
