body {
    height: 70vh;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 100px;
    padding: 20px;
}
main {
    color: black;
    text-align: center;

}
main h1{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}
.home-icon{
    width: 100%;
    padding: 78px 0px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.home-icon img{
    height: auto;
    width: 420px;
}
